<section
    id="about-me"
    class="mt-5 w-full lg:max-w-4xl md:max-w-2xl sm:max-w-lg max-w-xs"
>
    <h2 class="font-semibold text-4xl mb-3">About me</h2>
    <p class="font-medium sm:text-lg text-base">
        My name is Gerard Rius. I was born in Barcelona, where I currently live.
        Computers have been around me since I was a little kid. This is
        why, at the age of 10, I started programming and I have loved doing so
        since. That led me to start my studies in computer science at UPC.
    </p>
    <p class="font-medium sm:text-lg text-base mt-4">
        Oh! And I use
        <a
            href="https://www.reddit.com/r/programminghumor/comments/ubo08q/vimchad/"
            target="_blank"
            rel="noopener noreferrer"
            class="relative group text-primary font-bold transition duration-300 hover:text-secondary"
        >
            Vim</a> BTW.
    </p>
</section>