<section
    id="about-me"
    class="mt-5 w-full lg:max-w-4xl md:max-w-2xl sm:max-w-lg max-w-xs"
>
    <h2 class="font-semibold text-4xl mb-3">About me</h2>
    <p class="font-medium sm:text-lg text-base mb-3">
        My name is Gerard Rius. I was born in Barcelona, where I currently live.
        Computers have always been around me since I was a little kid. This is
        why I started programming at a very young age. And I have loved doing so
        since. I started on game development with Unity and Unreal. But after a
        couple years I shifted my focus and started doing other projects. That
        is, emulators, game engines, physics simulations and other cool things
        :).
    </p>
    <p class="font-medium sm:text-lg text-base">
        This love for engineering and software led me to start my studies in
        computer science at UPC. There I joined the Formula Student team BCN
        eMotorsport.
    </p>
</section>
