---
import { Image } from "astro:assets";
import CodelearnLogo from "./images/codelearn-logo.webp";
---

<section
    id="experience"
    class="my-5 w-full lg:max-w-4xl md:max-w-2xl sm:max-w-lg max-w-xs"
>
    <h2 class="font-semibold text-4xl">Experience</h2>
    <article class="flex flex-row my-5">
        <Image src={CodelearnLogo} alt="Codelearn Logo" height={80} class="my-auto" loading="eager" />
        <div class="mx-3">
            <h3 class="text-2xl font-bold [&>strong]:text-secondary [&>strong]:font-bold">
                Worked at <strong>Codelearn</strong> as a teacher
            </h3>
            <p class="[&>strong]:text-secondary">I taught kids the basics and essentials of game development with <strong>Unreal Engine 5</strong> during a full week course.</p>
        </div>
    </article>
</section>
