---
import Mail from "./icons/mail.astro";
---

<footer class="mt-10 flex flex-col justify-center items-center">
    <section class="border-t pt-3 mt-5 mb-16 flex sm:flex-row flex-col justify-between items-start w-full lg:max-w-4xl md:max-w-2xl sm:max-w-lg max-w-xs">
        <div class="flex flex-col">
            <h2 id="contact" class="text-lg font-semibold">Contact</h2>
            <span class="flex flex-row items-center">
                <Mail class="size-7 px-1" />
                <p>contact@grius.dev</p>
            </span>
        </div>
        <p>© 2024 Gerard Rius | All rights reserved.</p>
    </section>
</footer>