---
const navItems = [
    {
        title: "Experience",
        label: "experience",
        url: "/#experience",
    },
    {
        title: "Projects",
        label: "projects",
        url: "/#projects",
    },
    {
        title: "Tech Stack",
        label: "skills",
        url: "/#skills",
    },
    {
        title: "About me",
        label: "about-me",
        url: "/#about-me",
    },
    {
        title: "Contact",
        label: "contact",
        url: "/#contact",
    },
];
---

<header class="mt-10 mb-2 flex flex-row justify-center items-center mx-auto">
    <nav class="z-10 fixed flex flex-row justify-center items-center rounded-full py-2 sm:px-3 px-1 border border-neutral-600 mx-2 hover:border-neutral-300 transition-all duration-200">
        {
            navItems.map((link) => (
                <>
                    <a
                        href={link.url}
                        aria-label={link.label}
                        class="group text-primary font-semibold mx-3 transition duration-150 hover:text-secondary sm:text-base text-xs text-center"
                    >
                        {link.title}
                        <span class="block max-w-0 group-hover:max-w-full transition-all duration-150 h-0.5 bg-secondary" />
                    </a>
                </>
            ))
        }
    </nav>
</header>

<style>
    nav {
        background-color: rgba(38, 38, 38, 0.6);
        backdrop-filter: blur(6px);
    }

    @media screen and (max-width: 350px) {
        nav {
            display: none;
        }
    }
</style>