---
import GithubIcon from "./icons/Github.astro";
import LinkedInIcon from "./icons/Linkedin.astro";
---

<section
    class="z-0 mt-5 mb-16 flex flex-col justify-center items-start w-full lg:max-w-4xl md:max-w-2xl sm:max-w-lg max-w-xs"
>
    <h1
        class="text-primary title-primary uppercase font-bold text-center sm:text-8xl text-7xl"
    >
        Gerard Rius
    </h1>
    <h1
        class="text-secondary uppercase title-secondary font-medium text-center sm:text-6xl text-4xl"
    >
        Software developer
    </h1>

    <div
        class="flex-row inline-flex border-neutral-600 glow border rounded-full px-3 py-2 mt-7 mb-7 bg-neutral-900 hover:border-neutral-400 tranition-all duration-100"
    >
        <a
            href="https://github.com/griush"
            target="_blank"
            class="mx-2"
            aria-label="github-icon"
            ><GithubIcon
                class="size-9 text-primary hover:text-gray-400 transition-all duration-100 hover:scale-110"
            /></a
        >
        <a
            href="https://www.linkedin.com/in/griush/"
            target="_blank"
            class="mx-2"
            aria-label="linkedin-icon"
            ><LinkedInIcon
                class="size-9 text-primary hover:text-blue-400 transition-all duration-100 hover:scale-110"
            /></a
        >
    </div>

    <p
        class="font-medium sm:text-xl text-lg [&>strong]:text-secondary"
    >
        Self-taught <strong>software developer</strong>.
        Currently studying <strong>computer science</strong> at UPC. From Barcelona, Spain
        🇪🇸.
    </p>
</section>

<style>
    .title-primary {
        text-shadow: #dddddda1 0 0 7px;
    }

    .title-secondary {
        text-shadow: #e7bb41a1 0 0 7px;
    }

    .glow:hover {
        filter: drop-shadow(0px 0px 4px whitesmoke);
    }
</style>
