---
import { Image } from "astro:assets";
import emulator_banner from "./images/6502_emulator.webp";
import pong_screenshot from "./images/pong_sreenshot.webp";
import ga_screenshot from "./images/ga_screenshot.webp";
---

<section
    id="projects"
    class="my-5 w-full lg:max-w-4xl md:max-w-2xl sm:max-w-lg max-w-xs"
>
    <h2 class="font-semibold text-4xl">Projects</h2>
    <p class="pt-2">Currently working on some cool things...</p>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1">
        <div
            class="border border-solid rounded-xl border-neutral-600 p-4 mt-5 mr-5 bg-neutral-900"
        >
            <Image
                src={emulator_banner}
                alt="6502 Emulator banner"
                height={150}
                loading="eager"
            />
            <h3 class="font-semibold text-2xl mt-2 mb-1">MOS6502 Emulator</h3>
            <p class="mb-3 text-gray-400">Rust</p>
            <a
                href="https://github.com/griush/6502_emulator"
                target="_blank"
                rel="noopener noreferrer"
                class="border border-gray-600 bg-gray-700 rounded-xl px-3 py-2 font-semibold transition-all duration-200 m-auto hover:border-neutral-900"
                >Source Code</a
            >
        </div>
        <div
            class="border border-solid rounded-xl border-neutral-600 p-4 mt-5 mr-5 bg-neutral-900"
        >
            <Image
                src={pong_screenshot}
                alt="Pong Clone Screenshot"
                height={150}
                loading="eager"
            />
            <h3 class="font-semibold text-2xl mt-2 mb-1">Pong Clone</h3>
            <p class="mb-3 text-gray-400">HTML, CSS, JavaScript</p>
            <a
                href="https://griush.github.io/Pong-Clone"
                target="_blank"
                rel="noopener noreferrer"
                class="border border-gray-600 bg-gray-700 rounded-xl px-3 py-2 font-semibold transition-all duration-200 m-auto hover:border-neutral-900"
                >Play</a
            >
            <a
                href="https://github.com/griush/Pong-Clone"
                target="_blank"
                rel="noopener noreferrer"
                class="border border-neutral-600 bg-gray-700 rounded-xl px-3 py-2 font-semibold transition-all duration-200 m-auto hover:border-neutral-900"
                >Source Code</a
            >
        </div>
        <div
            class="border border-solid rounded-xl border-neutral-600 p-4 mt-5 mr-5 bg-neutral-900"
        >
            <Image
                src={ga_screenshot}
                alt="Geometry Apex Screenshot"
                height={150}
                loading="eager"
            />
            <h3 class="font-semibold text-2xl mt-2 mb-1">Geometry Apex</h3>
            <p class="mb-3 text-gray-400">HTML, CSS, JavaScript</p>
            <a
                href="https://griush.github.io/GeometryApex/"
                target="_blank"
                rel="noopener noreferrer"
                class="border border-gray-600 bg-gray-700 rounded-xl px-3 py-2 font-semibold transition-all duration-200 m-auto hover:border-neutral-900"
                >Play</a
            >
            <a
                href="https://github.com/griush/GeometryApex"
                target="_blank"
                rel="noopener noreferrer"
                class="border border-gray-600 bg-gray-700 rounded-xl px-3 py-2 font-semibold transition-all duration-200 m-auto hover:border-neutral-900"
                >Source Code</a
            >
        </div>
    </div>
</section>
