---
import Project from "./Project.astro";

import zm from "./images/zm.webp";
import galileo_hack_banner from "./images/GalileoHack.webp";
import emulator_banner from "./images/6502_emulator.webp";
import pong_screenshot from "./images/pong_sreenshot.webp";
---

<section
  id="projects"
  class="flex flex-col m-auto items-start justify-center w-full lg:max-w-4xl md:max-w-2xl sm:max-w-lg max-w-xs"
>
  <h2 class="font-semibold text-4xl">Projects</h2>
  <Project
    image={zm}
    title="zm"
    lang="Zig"
    description="A fast and cross-platform math library easy to use for games, science, simulations and more."
    repo="zm"
  />
  <Project
    image={galileo_hack_banner}
    title="GalileoHack"
    lang="Java"
    description="An Android application to visualize raw GNSS data. HackUPC 2024 ESA Challenge winner. ðŸ†"
    repo="GalileoHack"
  />
  <Project
    image={emulator_banner}
    title="6502 Emulator"
    lang="Rust"
    description="A plain and simple 6502 chip emulator."
    repo="6502_emulator"
  />
  <Project
    image={pong_screenshot}
    title="Pong Clone"
    lang="HTML/CSS/JS"
    description="A clone of the classic game of Pong. Made from scratch using canvas and no frameworks or engine."
    repo="Pong-Clone"
  />
</section>
