---
import { Image } from "astro:assets";
import pong_screenshot from "./images/pong_sreenshot.webp"
import ga_screenshot from "./images/ga_screenshot.webp";
---

<section id="projects" class="mt-5 w-full lg:max-w-4xl md:max-w-2xl sm:max-w-lg">
    <h2 class="font-semibold text-4xl">Projects</h2>
    <div class="grid grid-cols-2">
        <div class="border border-solid rounded-xl border-neutral-600 bg-gradient-to-br from-neutral-900 to-neutral-950 p-4 mt-5 mr-5">
            <Image src={pong_screenshot} alt="Pong Screenshot" width={350} height={350}/>
            <h3 class="font-semibold text-2xl mt-2">Pong Clone</h3>
        </div>
        <div class="border border-solid rounded-xl border-neutral-600 bg-gradient-to-br from-neutral-900 to-neutral-950 p-4 mt-5 mr-5">
            <Image src={ga_screenshot} alt="Geometry Apex Screenshot" width={250} height={250}/>
            <h3 class="font-semibold text-2xl">Geometry Apex</h3>
        </div>
    </div>
</section>
