---
import CppIcon from "./icons/c++.astro";
import CIcon from "./icons/c.astro";
import ZigIcon from "./icons/zig.astro";
import UnityIcon from "./icons/unity_dark.astro";
import UnrealIcon from "./icons/unreal_engine_dark.astro";
import HtmlIcon from "./icons/html5.astro";
import CssIcon from "./icons/css.astro";
import JSIcon from "./icons/javascript.astro";
import AstroIcon from "./icons/astro_dark.astro";
import TailwindIcon from "./icons/tailwindcss.astro";
---

<section id="skills" class="mt-5 w-full lg:max-w-4xl md:max-w-2xl sm:max-w-lg">
    <h2 class="font-semibold text-4xl mb-3">Knowledge</h2>
    <div class="grid grid-cols-2">
        <div
            class="border border-solid rounded-xl border-neutral-600 bg-gradient-to-br from-neutral-900 to-neutral-950 grid grid-cols-3 p-4 mr-5"
        >
            <div>
                <CppIcon class="size-16 mx-auto my-2" />
                <p class="text-center font-medium">C++</p>
            </div>
            <div>
                <CIcon class="size-16 mx-auto my-2" />
                <p class="text-center font-medium">C</p>
            </div>
            <div>
                <ZigIcon class="size-16 mx-auto my-2" />
                <p class="text-center font-medium">Zig</p>
            </div>
            <div>
                <UnrealIcon class="size-16 mx-auto my-2" />
                <p class="text-center font-medium">Unreal</p>
            </div>
            <div>
                <UnityIcon class="size-16 mx-auto my-2" />
                <p class="text-center font-medium">Unity</p>
            </div>
        </div>
        <div
            class="border border-solid rounded-xl border-neutral-600 bg-gradient-to-br from-neutral-900 to-neutral-950 grid grid-cols-3 p-4 mr-5"
        >
            <div>
                <HtmlIcon class="size-16 mx-auto my-2" />
                <p class="text-center font-medium">HTML5</p>
            </div>
            <div>
                <CssIcon class="size-16 mx-auto my-2" />
                <p class="text-center font-medium">CSS</p>
            </div>
            <div>
                <JSIcon class="size-16 mx-auto my-2" />
                <p class="text-center font-medium">JavaScript</p>
            </div>
            <div>
                <AstroIcon class="size-16 mx-auto my-2" />
                <p class="text-center font-medium">Astro</p>
            </div>
            <div>
                <TailwindIcon class="size-16 mx-auto my-2" />
                <p class="text-center font-medium">Tailwind CSS</p>
            </div>
        </div>
    </div>
</section>
