---
import "@fontsource-variable/montserrat";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/mi-porfolio/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="absolute top-0 z-[-2] h-screen w-svw bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: "Montserrat Variable", system-ui, sans-serif;
		background: rgb(10, 10, 10);
		color: #ddd;
		overflow-x: hidden;
		scroll-behavior: smooth;
	}

	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #222;
        border-radius: 9999px;
        border: solid 1px #333;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #444;
		border-radius: 9999px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #666;
	}
</style>
