---
import "@fontsource-variable/montserrat";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- HTML Meta Tags -->
    <title>Gerard Rius | Software developer | grius.dev</title>
    <meta
      name="description"
      content="Gerard Rius, a passionate self-taught Software Developer with over 7 years of experience. Explore my projects, skills, and professional journey here."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://grius.dev" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Gerard Rius | Software developer | grius.dev"
    />
    <meta
      property="og:description"
      content="Gerard Rius, a passionate self-taught Software Developer with over 7 years of experience. Explore my projects, skills, and professional journey here."
    />

    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/documents/950434b9-853f-4747-a197-a78707bb040f.png?token=Lbis7d0y-owQ4LwzGrTLjTtgpFxCCNl4qkCT8p7IQ1o&height=442&width=812&expires=33246001265"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="grius.dev" />
    <meta property="twitter:url" content="https://grius.dev" />
    <meta
      name="twitter:title"
      content="Gerard Rius | Software developer | grius.dev"
    />
    <meta
      name="twitter:description"
      content="Gerard Rius. Self-taught Software Developer for +7 years. Look at some of my projects and experiences here."
      content="Gerard Rius, a passionate self-taught Software Developer with over 7 years of experience. Explore my projects, skills, and professional journey here."
    />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/documents/950434b9-853f-4747-a197-a78707bb040f.png?token=Lbis7d0y-owQ4LwzGrTLjTtgpFxCCNl4qkCT8p7IQ1o&height=442&width=812&expires=33246001265"
    />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <meta name="og:image:alt" content="grius.dev logo" />

    <meta name="canonical" content="https://grius.dev" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Montserrat Variable", system-ui, sans-serif;
    background: #1a1d21;
    color: #ddd;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #1a1d21;
    border-radius: 9999px;
    border: solid 1px #1a1d21;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #586270;
    border-radius: 9999px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #707C8F;
  }
</style>
